:root {
    --uline: coral;
    --bcolor: white;
}

header h1,h2{
    text-align: center;
    margin: 10px;
    padding: 5px;
    color: blueviolet;
    font-family:Cochin, Georgia, Times, 'Times New Roman', serif;
}

.underline {
    text-decoration: underline;
    text-decoration-color: var(--uline);
    text-decoration-thickness: 5px;
}

.gridbox{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px 20px;
    background-color: darkslategrey;
    justify-content: center;
    

}

.card {
    border: 4px dashed;
    border-color: var(--bcolor);
    font-size: 10px;
    height: 250px;
    width: 420px;
    font-size: 30px;
    margin: 10px;
    
}

.card h4 {
    font-size: 20px;
    color: rgb(198, 226, 43);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    margin-top: 5px;
    margin-bottom: 80px;
    padding: 5px;
}


.codeblock{
    font-family: monospace;
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
    font-size: 20px; 
    height: 50%;
    margin: 10px;
    padding: 5px;
    user-select: all;
}

.footer{
    text-align: center;
    margin: 10px;
    padding: 5px;
    color: blueviolet;
    font-family:Cochin, Georgia, Times, 'Times New Roman', serif;
}


@media only screen and (min-width:768px){
    .gridbox {
        grid-template-columns: auto auto;
    }

     
}

@media only screen and (min-width:992px){
    .gridbox {
       grid-template-columns: auto auto auto;
    }

     
}

@media only screen and (max-width:768px){
    .gridbox {
         grid-template-columns: auto;
    }
}
